body {
  background-color: #2b2b2b;
  color: #fff;

  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

.font-H3 {
  font-weight: 600;
  @include set_fz_lh(38, 1.2);
}
.font-H5 {
  font-weight: 600;
  @include set_fz_lh(22, 1.4);
}
.font-Body {
  font-weight: 400;
  @include set_fz_lh(22, 1.6);
}

.font-H5-spaceMono {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  @include set_fz_lh(22, 1.6);
}
.font-Body-spaceMono {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  @include set_fz_lh(16, 1.4);
}
