.artist_card {
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #3b3b3b;
  border-radius: 20px;

  transition: all 0.3s ease-in-out;

  @include media-down(1280) {
    flex-direction: row;
  }
  &:hover {
    box-shadow: 0 0 16px #{rgba(#a259ff, 0.3)};
    img {
      scale: 1.05;
    }
  }
  img {
    transition: all 0.3s ease-in-out;
  }
  &:before {
  }

  &-avatar {
    @include circle(120);
    overflow: hidden;
    @include media-down(1280) {
      @include circle(60);
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    @include media-down(1280) {
      align-items: flex-start;
    }

    > .name {
      @extend .font-H5;
    }

    .total {
      display: flex;
      gap: 10px;
    }

    .label {
      color: #858584;
    }
    .number {
      @extend .font-Body-spaceMono;
    }
  }
}
