.page_section-hero {
  padding-top: 80px;
  padding-bottom: 80px;
  @include rwd-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container {
    // display: flex;
    // gap: 30px;
    display: grid;
    grid-template-rows: 1fr 30px auto 30px auto;
    grid-template-columns: 50% 30px 50%;
    // grid-area:;

    @include rwd-tablet {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: auto;
      grid-template-areas:
        'heading_group'
        'highlight_NFT'
        'nft_btn'
        'additional_info';
      gap: 30px;
    }
  }

  // .txts {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 30px;
  //   flex: 1 1 50%;
  // }

  .heading_group {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 510px;

    @include rwd-tablet {
      grid-area: heading_group;
    }

    .title {
      font-weight: 600;
      @include set_fz_lh(67, 1.1);

      @include media-down(1280) {
        @include set_fz_lh_clamp(67, 1.1, 38, 1.2);
      }
      @include rwd-tablet {
        @include set_fz_lh_clamp(38, 1.2, 28, 1.4);
      }
    }

    .txt {
      font-weight: 400;
      @include set_fz_lh(22, 1.6);

      @include media-down(1280) {
        @include set_fz_lh_clamp(22, 1.6, 16, 1.4);
      }
      @include rwd-tablet {
        @include set_fz_lh(16, 1.4);
      }
    }
  }

  .nft_btn {
    grid-area: 3 / 1 / span 1 / span 1;
    display: inline-flex;
    justify-self: flex-start;

    @include rwd-tablet {
      grid-area: nft_btn;
      justify-self: auto;
    }
  }

  .additional_info {
    grid-area: 5 / 1 / span 1 / span 1;
    display: flex;
    gap: 30px;
    width: 100%;

    @include rwd-tablet {
      grid-area: additional_info;
    }

    &-item {
      display: flex;
      flex-direction: column;
      flex: 1 1 set-flex-basis(30, 3);

      @include rwd-tablet {
        align-items: center;
      }

      .number {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        @include set_fz_lh(28, 1.4);
        @include media-down(1280) {
          @include set_fz_lh_clamp(28, 1.4, 22, 1.6);
        }
      }

      .txt {
        font-weight: 400;
        @include set_fz_lh(24, 1.6);

        @include media-down(1280) {
          @include set_fz_lh_clamp(24, 1.6, 16, 1.4);
        }
      }
    }
  }

  .highlight_NFT {
    grid-area: 1 / 3 / span 6 / span 1;

    @include rwd-tablet {
      grid-area: highlight_NFT;
    }
  }
}
