.page_section-top_creators {
  padding-top: 80px;
  padding-bottom: 80px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .page_section-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .heading {
    @extend .font-H3;
  }
  .subhead {
    @extend .font-Body;
  }
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.artist-item {
  flex: 1 1 set-flex-basis(30, 4);
}
